<section class="py-5 bg-dark ">
  <div class='container'>
    <div class='pb-4'>
    <h1 class=" text-light mx-0">{{title}}</h1>
    <h6 class='text-muted mt-n2'>{{subtitle | titlecase}}</h6>
    </div>
    <div class="row">
      <div *ngFor="let professor of professors"
      class='card mx-2 my-2 pb-0'
      style="width: 10rem"
      routerLink="/clemson/professor/{{professor.Professor}}">
        <img src='/assets/images/{{professor.Cuid}}.jpeg' alt='Card Image Cap' class='card-img-top' />
        <div class='card-body pt-3'>
          <h5 class="card-text">{{professor.Professor}}</h5>
          <h6 class='card-subtitle'>H-Index: {{professor['A']}}</h6>
          <app-icons [input]="professor"></app-icons>
        </div>
      </div>
    </div>
  </div>
</section>
