<div id="professorBar" class="col-md" *ngIf="type == 'professors'">
  <div *ngFor="let result of data" class='card my-1' routerLink="/clemson/professor/{{result.Professor}}">
    <div class='card-body py-2'>
      <div class='row'>
        <div class='col text-left'>

          <h5 class="mb-0">{{result.Professor}} <app-icons [input]="result"></app-icons> </h5>
          <h6 class='text-muted'>{{result.Title}}</h6>
        </div>
        <div class='col text-right my-auto'>
          <h5 class="mb-0 ">{{result['Department']}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="coursesBar" class="col-md" *ngIf="type == 'courses'">
  <div *ngFor="let result of data" class='card my-1' routerLink="/clemson/course/{{result.Id}}">
    <div class='card-body py-2'>
      <div class='row'>
        <div class='col text-left'>
          <h5 class="mb-0">{{result["Course"]}} </h5>
        </div>
        <div class='text-center col-6 my-auto'>
          <h5>{{result['Name']}}</h5>
        </div>
        <div class='col text-right my-auto'>
          <h5 class="mb-0 ">{{result['Professor']}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
