<section class="py-5 min-vh-100"
         *ngIf="display">

  <div class="container py-5">
    <!--Title-->
    <div>
      <h1 class="display-2">{{professor['Professor']}}</h1>
      <h4>
        <span class="text-danger">{{professor['Title']}}, </span>
        <span class="text-muted">{{professor['Department']}}</span>
      </h4>
      <span class="text-right d-inline"><app-icons [input]="professor"></app-icons></span>
    </div>

    <!--Chart-->
    <div>
      <h2>Statistics</h2>
      <div class="mb-3">
        <h5>Grade Distribution</h5>
        <div class="row">
          <app-graphs class="col-12 col-lg-6" [prof]="professor" ></app-graphs>
        </div>
      </div>
    </div>

    <!--Suggestions-->
    <div>
      <h2 class="mb-3">Courses</h2>
      <app-cards [type]="'courses'" [data]="classes"></app-cards>
    </div>
  </div>

</section>
