<form #f="ngForm" (ngSubmit)="onSubmit()">

  <!--Professor Search-->
  <div class='form-group' #professorInput>
    <label for='professorName'>Professor</label>
    <input
      [(ngModel)]="professorName"
      (ngModelChange)="searchProfessors($event)"
      (focus)="show(profSuggestions)"
      (blur)="hide(profSuggestions)"
      type="text"
      autocomplete="off"
      class='form-control'
      id="professorName"
      name="professorName"
      placeholder="Albus Dumbledore"/>
    <div>
      <div #profSuggestions
           class='w-25 card shadow position-absolute'
           style="min-width: 200px; z-index: 2; display: none"
           id="profAutocomplete">
        <table class="table table-sm text-center mb-0">
          <tr *ngFor="let result of professorResults.slice(0,5)">
            <td
              (click)="professorName = result.Professor"
              *ngIf="professorName != result.Professor">{{result.Professor}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <!--Class Search-->
  <div class='form-group mb-3'>
    <label for='className'>Class</label>
    <input
      [(ngModel)]="className"
      (ngModelChange)="searchCourses($event)"
      (focus)="show(courseSuggestions)"
      (blur)="hide(courseSuggestions)"
      autocomplete="off"
      class='form-control'
      id="className"
      name="className"
      placeholder="Alchemy"
      type='text'/>
    <div #courseSuggestions
         class='w-25 card shadow position-absolute'
         style="min-width: 200px; z-index: 1; display: none"
         id="courseAutocomplete">
      <table class="table table-sm text-center mb-0">
        <tr *ngFor="let result of courseResults">
          <td
            (click)="className = result.Name"
            *ngIf="className != result.Name">{{result.Name}} ({{result.Course}})
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!--Search Button-->
  <div class="row flex-row-reverse no-gutters">
    <button [ngClass]="{'btn-danger':f.dirty && f.valid}"
            class='btn btn-primary col-12 col-sm-6 col-md-4 col-lg-2'
            type='submit' style="z-index: 0">Search
    </button>
  </div>

</form>
