<form #f="ngForm" (ngSubmit)="onSubmit()">

  <div class='form-group'>
    <label for='professorName'>Professor</label>
    <input
    type='profname'
    name="professorName"
    class='form-control'
    placeholder="First Last"
    autocomplete="off"
    #prof="ngModel"
    [(ngModel)]="professorName"/>
    <div>
      <div *ngIf="prof.dirty" id="profAutocomplete" class='card shadow'>
        <table class="table table-sm text-center mb-0">
          <tr *ngFor="let result of data.searchProfessors(professorName).slice(0,5)">
            <td
            *ngIf = "professorName != result.Professor"
            (click)="professorName = result.Professor">{{result.Professor}}
          </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class='form-group'>
    <label for='className'>Class</label>
    <input
      #course="ngModel"
      [(ngModel)]="className"
      autocomplete="off"
      class='form-control'
      name="className"
      placeholder="BIO 1020"
      type='class'/>
    <div>
      <div *ngIf="course.dirty" id="courseAutocomplete" class='card shadow'>
        <table class="table table-sm text-center mb-0">
          <tr *ngFor="let result of data.searchCourses(className).slice(0,5)">
            <td
            *ngIf = "className != result.Course"
            (click)="className = result.Course">{{result.Course}}
          </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <button type='submit'
  class='btn btn-primary float-right'
   [ngClass]="{'btn-danger':f.dirty}">Search</button>
</form>
